extends layout_client

block content
    h3 Merci pour votre réservation!
    p Un email vous sera envoyé dans les plus brefs délais afin de vous confirmer si votre réservation peut être
    p effective ou si elle ne peut malheureusement pas l'être car le nombre maximum de places est dépassé.
    p Nous vous remercions de votre compréhension et d'avoir choisi de voyager avec Car Postal.