extends layout_client

block content
    h3 Formulaire de contact
    form(action='/client/client_contact', method='POST')
        label(for='clientLastname') Nom
        input.validate(type='text',name='lastName', id='clientLastname', required)
        br
        label(for='clientFirstname') Prénom
        input.validate(type='text',name='firstName', id='clientFirstname', required)
        br
        label(for='clientEmail') Email
        input.validate(type='text', name='email', id='clientEmail', required)
        br
        label(for='clientText') Texte
        textarea.materialize-textarea(name='text', id='clientText', required)
        br
        button.btn.waves-effect.waves-light(type="submit", name="action") Envoyer email