extends layout_client

block content
    h3 Réservez votre place!
    form(action='/client/client_horaire', method='POST')
        input.validate(type='text', id='from', name='fromStation', class="autocomplete recherche", required)
        label(for='from') Station départ
        br
        input.validate(type='text', id='to', name='toStation', class="autocomplete recherche", required)
        label(for='to') Station arrivée
        br
        input(type='text', class='datepicker')
        br




        button.btn.waves-effect.waves-light(type="submit", name="action") Chercher correspondances
        br
        br