extends layout

block content
  h1= title
  p Welcome to #{title}

  form(action='/users/login', method='POST')
    input(type='text', name='login', placeholder='Type your username here', autofocus)
    br
    input(type='text', name='password', placeholder='Type your password here')
    br
    button(type='submit') Login
