extends layout_login

block content
    h3 Connexion
        form(action='/login', method='POST')
            br
            input(type='text', name="loginUsername", placeholder='Login', autofocus, required)
            br
            input(type='password', name="loginPassword", placeholder='Mot de passe', autofocus, required)
            br
            button.btn.waves-effect.waves-light(type="submit", name="action") se connecter