extends layout_login

block content
    h3 Connexion
        form(action='/login', method='POST')
            br
            input(type='text', id="loginUsername", placeholder='Login', autofocus)
            br
            input(type='text', id="loginPassword", placeholder='Mot de passe', autofocus)
            br
            button.btn.waves-effect.waves-light(type="submit", name="action") se connecter