

block content
    head
        //autocompletion script
        script(src='/javascripts/apiCompletion.js')
        //Import Google Icon Font
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        //Import materialize.css
        link(type='text/css', rel='stylesheet', href='/stylesheets/materialize.min.css',  media='screen,projection')

        //Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')


    body(bgcolor="#fffde7")
        nav.nav-extended.amber.lighten-1
            .nav-wrapper
                a.brand-logo(href="#") ResaBike
                a.button-collapse(href="#", data-activates="mobile-demo")
                    i.material-icons menu
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="/login") Login
                ul#mobile-demo.side-nav
                    li
                        a(href="/login") Login
            .nav-content
                ul.tabs.tabs-transparent.tabs-fixed-width
                    li.tab
                        a.active(href="#test1") Réservations
                    li.tab
                        a(href="#test2") Gestion zones
                    li.tab
                        a(href="#test3") Gestion lignes
                    li.tab
                        a(href="#test4") Rechercher
        #test1.col.s12
        #test2.col.s12
            h3 Nouvelle zone
                form(action='/superadmin/newZone', method='POST')
                    input(type='text', name='zoneName', placeholder='Entrez le nom de la zone', autofocus)
                    br
                    input(type='text', name='username', placeholder='Entrez le login')
                    br
                    input(type='text', name='password', placeholder='Entrez un mot de passe')
                    br
                    button.btn.waves-effect.waves-light(type="submit", name="action") Enregistrer
                    br
                    br
            h3 Zones existantes
                each zone in zones
                    .zone
                        input(type='text', value=zone.zoneName)
                        <!-- Mettre qqch pour afficher correctement =) -->


        #test3.col.s12
            h3 Nouvelle ligne
                form(action='/superadmin/newLine', method='POST')
                    input(type='text', name='lineName', placeholder='Entrez le nom de la ligne', autofocus)
                    br
                    input(type='text', name='fromStation', placeholder='Entrez la station de départ', id='from', onkeydown='autocomp(this.id)')
                    br
                    input(type='text', name='toStation', placeholder='Entrez la station arrivée', id='to', onkeydown='autocomp(this.id)')
                    br
                    input(type='text', name='id_zone', placeholder='Entrez zone concernée')
                    br
                    button.btn.waves-effect.waves-light(type="submit", name="action") Enregistrer
                    br
                    br
            h3 Lignes existantes
                each line in lines
                    .zone
                        input(type='text', value=line.lineName)
                        <!-- Mettre qqch pour afficher correctement =) -->


        #test4.col.s12 Test 4



        //Import jQuery before materialize.js
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/javascripts/materialize.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js')
        link(href='/stylesheets/jquery-ui.min.css', rel='stylesheet')
