extends layout

block content
    head
        //Import Google Icon Font
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        //Import materialize.css
        link(type='text/css', rel='stylesheet', href='/stylesheets/materialize.min.css',  media='screen,projection')

        //Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

    body(bgcolor="#fffde7")
        nav.nav-extended.amber.lighten-1
            .nav-wrapper
                a.brand-logo(href="#") ResaBike
                a.button-collapse(href="#", data-activates="mobile-demo")
                    i.material-icons menu
                ul#nav-mobile.right.hide-on-med-and-down
                    li
                        a(href="sass.html") Login
                ul#mobile-demo.side-nav
                    li
                        a(href="sass.html") Login
            .nav-content
                ul.tabs.tabs-transparent.tabs-fixed-width
                    li.tab
                        a.active(href="#test1") Réservations
                    li.tab
                        a(href="#test2") Gestion zones
                    li.tab
                        a(href="#test3") Gestion lignes
                    li.tab
                        a(href="#test4") Rechercher
        #test1.col.s12

            h1 nouvelle zone
                form(action='/superadmin/newZone', method='POST')
                    input(type='text', name='zoneName', placeholder='Entrez le nom de la zone', autofocus)
                    br
                    input(type='text', name='username', placeholder='Entrez le login')
                    br
                    input(type='text', name='password', placeholder='Password here')
                    br
                    button(type='submit') Sign up
        #test2.col.s12 Test 2
        #test3.col.s12 Test 3
        #test4.col.s12 Test 4



        //Import jQuery before materialize.js
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='/javascripts/materialize.min.js')
